Com Whatsapp.json
{
  "name": "Com Whatsapp",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c37ca11-237b-428e-b3e8-ce7afbcce783",
              "name": "IdConversa",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "4f6dd7b4-f968-4e82-9494-65d725d1f245",
              "name": "Mensagem",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            },
            {
              "id": "1df75bc2-8703-4d29-8232-b9f4b3059b8e",
              "name": "Nome",
              "value": "={{ $json.body.chatName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "8f1f121e-68c2-40e8-bd3e-94cf3455f6f7",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        0
      ],
      "id": "ec0810c4-336e-4abc-8d4e-134e22cdcb2a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagem-zapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        96
      ],
      "id": "0807fbfc-ea64-4adc-bd8b-f4f1fc4b0617",
      "name": "Webhook",
      "webhookId": "a281e9ad-3f3a-4e4c-bad4-78ce1149518f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c4158b8-899b-4a58-a1c9-a89cdfed284d",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "b2275f61-cf55-4a35-958c-ea9558769042",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "4a11740e-5b88-4797-80a2-3cf0cbac15de",
              "leftValue": "={{ $json.body.broadcast }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "ea646178-10af-4e07-a967-08deb4288115",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        96
      ],
      "id": "c41bd0f5-0594-4e31-918e-11eed7072b28",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "2e9ac703-b2a9-4501-8ec3-d3225ce57319",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yZSOuOE-ukDvjPqAkV9iDwnEuR5swgX7ukOybtsUJM0",
          "mode": "list",
          "cachedResultName": "n8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yZSOuOE-ukDvjPqAkV9iDwnEuR5swgX7ukOybtsUJM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 958810515,
          "mode": "list",
          "cachedResultName": "Case 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yZSOuOE-ukDvjPqAkV9iDwnEuR5swgX7ukOybtsUJM0/edit#gid=958810515"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Whatsapp": "={{ $json.IdConversa }}",
            "Nome": "={{ $json.Nome }}"
          },
          "matchingColumns": [
            "Whatsapp"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        0
      ],
      "id": "c4a4cda0-d201-47b0-acc5-a3a641617394",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ai9wKYcZ9cPpqn40",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é uma amiga. Seja educada e engraçada em suas respostas, deixe a conversa humanizada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        0
      ],
      "id": "0ebeca55-0b9d-4bd1-b628-b297d225ad90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        224
      ],
      "id": "520848b9-d3ea-49e6-b12f-ec6843685763",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        896,
        224
      ],
      "id": "c43a0f81-8537-4299-8008-37a628e26aae",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zEj2ncGASQunl0Q9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1152,
        224
      ],
      "id": "d4f87d27-23b0-4a3b-ac12-c34c8ed3f9e5",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE9A118B4CFD2EC07181A3F8F4FF7D3/token/34FB5C70B71090329169307D/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F028da1ff1f404ae99ed5e90b0e84db76S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.IdConversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        0
      ],
      "id": "1fc7229f-ba44-4784-bb32-47ac3078ad08",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ab1b905d-2afe-4824-aa9d-40398b518d14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "075bb33fa1894789378b50d51920ff69ced43ccc21e84212770222146d7a6bc0"
  },
  "id": "oJMbKT3mah1ocUq5",
  "tags": []
}